body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #fff8fc;
    padding-top: 80px;
}


.navbar-faded {
    background: linear-gradient(90deg, #ffb6c1cc 0%, #ffe4e1cc 100%); /* 80% opacidad */
    backdrop-filter: blur(6px);
    transition: background 0.3s ease;
  }
